development:
  app_identifier:
  - ru.touchin.{{project_name_lowecased}}
  apple_id: "apple@touchin.ru"
  team_id: "D4HA43V467"
  itc_team_id: "1426360"
enterprise:
  app_identifier:
  - com.touchin.{{project_name_lowecased}}
  apple_id: "enterpriseapple@touchin.ru"
  team_id: "228J5MMU7S"
appstore:
  app_identifier:
  - customer.bundle.id
  apple_id: "apple@touchin.ru"
  team_id: "CUSTOMER_TEAM_ID"
  itc_team_id: "CUSTOMER_ITC_TEAM_ID"