source 'https://github.com/CocoaPods/Specs'
source 'https://github.com/TouchInstinct/Podspecs.git'

platform :ios, '{{deployment_target}}'

use_frameworks!
inhibit_all_warnings!

project '{{project_name}}', {
    'AppStore' => :release,
    'Release' => :release,
    'Debug' => :debug
}

target '{{project_name}}' do

  # System
  pod 'Firebase/Crashlytics'
  pod 'SwiftLint' 
  pod 'LicensePlist'

  # Rx
  pod 'RxSwift', '4.5.0'
  pod 'RxOptional', '3.6.2'
  pod 'RxKeyboard', '0.9.0'
  pod 'RxAlamofire', '4.3.0'

  # Security
  pod 'KeychainAccess'

  # Networking
  pod 'Alamofire', '4.8.1'

  # Utils
  pod 'LeadKit'
  pod 'LeadKitAdditions'
  pod 'DeviceKit'
  pod 'SwiftValidator'
  pod 'SwiftDate'

  # Layout
  pod 'SnapKit'

   # UI
  pod 'TableKit'
  pod 'StatefulViewController'

end

# If you have slow HDD
ENV['COCOAPODS_DISABLE_STATS'] = "true"
