source 'https://github.com/CocoaPods/Specs'
source 'https://github.com/TouchInstinct/Podspecs.git'

platform :ios, '{{deployment_target}}'

use_frameworks!
inhibit_all_warnings!

project '{{project_name}}', {
    'AppStore' => :release,
    'Release' => :release,
    'Debug' => :debug
}

target '{{project_name}}' do

  # System
  pod 'Firebase/Crashlytics'
  pod 'SwiftLint', '0.39.1'
  pod 'LicensePlist'

  # Rx
  pod 'RxKeyboard', '0.9.0'

  # Security
  pod 'KeychainAccess'

  # Utils
  pod 'LeadKit'
  pod 'DeviceKit'

  # Layout
  pod 'SnapKit'

   # UI
  pod 'TableKit'
  pod 'StatefulViewController'

end

# If you have slow HDD
ENV['COCOAPODS_DISABLE_STATS'] = "true"
