name: {{project_name}}
options:
  createIntermediateGroups: true
  xcodeVersion: 10.0
  usesTabs: false
  indentWidth: 4
  deploymentTarget:
    iOS: "{{deployment_target}}"
configs:
  AppStore: release
  Release: release
  Debug: debug
targets:
  {{project_name}}:
    settings:
      base:
        SWIFT_VERSION: 4.2
        SWIFT_SWIFT3_OBJC_INFERENCE: On
        CODE_SIGN_STYLE: Manual
      configs:
        Debug:
          PRODUCT_BUNDLE_IDENTIFIER: ru.touchin.{{project_name_lowecased}}
          GOOGLE_SERVICE_INFO_PLIST_PATH: $(SRCROOT)/$(TARGET_NAME)/Resources/Standard-GoogleService-Info.plist
        Release:
          PRODUCT_BUNDLE_IDENTIFIER: com.touchin.{{project_name_lowecased}}
          GOOGLE_SERVICE_INFO_PLIST_PATH: $(SRCROOT)/$(TARGET_NAME)/Resources/Enterprise-GoogleService-Info.plist
        AppStore:
          PRODUCT_BUNDLE_IDENTIFIER: com.touchin.{{project_name_lowecased}}
          GOOGLE_SERVICE_INFO_PLIST_PATH: $(SRCROOT)/$(TARGET_NAME)/Resources/AppStore-GoogleService-Info.plist
    type: application
    platform: iOS
    prebuildScripts:
      - script: ". build-scripts/xcode/build_phases/localization.sh"
        name: Localization
      - script: ". build-scripts/xcode/build_phases/api_generator.sh 1.1.35"
        name: API Generator
    postbuildScripts:
      - script: ". build-scripts/xcode/build_phases/swiftlint.sh"
        name: Swiftlint
      - script: ". build-scripts/xcode/build_phases/copy_paste_detection.sh"
        name: CopyPaste Detection
      - script: "\"${PODS_ROOT}/FirebaseCrashlytics/run\" --google-service-plist ${GOOGLE_SERVICE_INFO_PLIST_PATH}"
        name: Firebase
        runOnlyWhenInstalling: true
    sources:
      - path: {{project_name}}
        excludes:
          - "Resources/LaunchScreen.storyboard"
          - "Resources/Assets.xcassets/AppIcon.appiconset/Contents.json"
          - "Info.plist"
      - path: {{project_name}}/Analytics
        buildPhase: sources
      - path: {{project_name}}/Cells
        buildPhase: sources
      - path: {{project_name}}/Controllers
        buildPhase: sources
      - path: {{project_name}}/Extensions
        buildPhase: sources
      - path: {{project_name}}/Generated
        buildPhase: sources
      - path: {{project_name}}/Networking
        buildPhase: sources
      - path: {{project_name}}/Protocols
        buildPhase: sources
      - path: {{project_name}}/Realm
        buildPhase: sources
      - path: {{project_name}}/Resources
        buildPhase: resources
      - path: {{project_name}}/Resources/Localization
        buildPhase: resources
      - path: {{project_name}}/Services
        buildPhase: sources
      - path: {{project_name}}/Views
        buildPhase: sources
