name: {{project_name}}
options:
  createIntermediateGroups: true
  xcodeVersion: 9.2
  deploymentTarget:
    iOS: "{{deployment_target}}"
configs:
  StandardDebug: debug
  StandardRelease: release
  EnterpriseDebug: debug
  EnterpriseRelease: release
targets:
  {{project_name}}:
    type: application
    platform: iOS
    prebuildScripts:
      - script: ". build-scripts/xcode/build_phases/localization.sh"
        name: Localization
      - script: ". build-scripts/xcode/build_phases/api_generator.sh 1.1.5"
        name: API Genarator
    postbuildScripts:
      - script: ". build-scripts/xcode/build_phases/swiftlint.sh"
        name: Swiftlint
      - script: ". build-scripts/xcode/build_phases/copy_paste_detection.sh"
        name: CopyPaste Detection
      - script: "\"${PODS_ROOT}/Fabric/run\" KEY_1 KEY_2"
        name: Fabric
        runOnlyWhenInstalling: true
    sources:
      - path: {{project_name}}
        buildPhase: sources
      - path: {{project_name}}/Analytics
        buildPhase: sources
      - path: {{project_name}}/Cells
        buildPhase: sources
      - path: {{project_name}}/Controllers
        buildPhase: sources
      - path: {{project_name}}/Extensions
        buildPhase: sources
      - path: {{project_name}}/Generated
        buildPhase: sources
      - path: {{project_name}}/Models
        buildPhase: sources
      - path: {{project_name}}/Networking
        buildPhase: sources
      - path: {{project_name}}/Protocols
        buildPhase: sources
      - path: {{project_name}}/Realm
        buildPhase: sources
      - path: {{project_name}}/Resources
        buildPhase: sources
      - path: {{project_name}}/Services
        buildPhase: sources
      - path: {{project_name}}/Views
        buildPhase: sources
